
body {
    text-align: center;
    background-color: white;
  }
  
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: grey;
      padding-bottom:20rem;
  }
  
  .container {
    align-self: center;
    
    display: inline-flex;
  
    margin: 0;
    
  
  }
  
  .btn {
    margin: 0rem;
    display: inline-flex;
    height: 15rem;
    width: 15em;
    border: 10px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .pressed {
    box-shadow: 0 0 20px black;
    background-color: grey;
  }

 #start {
    margin: 5rem;
    display: inline-block;
    height: 3rem;
    width: 20rem;
    border: 5px solid black;
    border-radius: 20%;
  }
  
